<%= render partial: "shared/header"%>

<h1>Editing Preferred Position</h1>

<%= render 'form', preferred_position: @preferred_position %>

<%= link_to 'Show', @preferred_position %> |
<%= link_to 'Back', preferred_positions_path %>
