<h1 align="center">Welcome to Bacancy Apptitude Test </h1>
<%= link_to 'New User', new_student_path %><br/>
<%= link_to 'Existing User', student_existing_user_path %><br/>
<%= link_to 'Admin', tests_path %>
