<h1>QuestionsTests#index</h1>
<table border="1">
  <tr>
    <th>Test Name</th>
    <th>Test Questions</th>
  </tr>
  <% @tests.each_with_index do |test, index|%>
    <tr>
      <td><%= test.name%></td>
      <td>
        <ul>
          <% test.questions.each do |question| %>
         <li><%=question.question_description%></li>
       <%end%>
     </li>
      </td>

      <td><%= link_to 'Show',questions_test_path(test)%>
      <%= link_to 'Edit', edit_questions_test_path(test)  %>
    <tr>
  <% end %>

  </tr>
</table>
