.result-container{
	width: 100%;
	padding: 30px 67px;
}

.form-continer{
	display: flex;
	align-items: center;
}

.result-section{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.searchBar{ 
	padding: 10px 0px 32px 0px;
}

.search-btn{
	width: 90px;
	padding: 10px !important;
	background-color: #ed7c19 !important;
	border: white !important;
}

.export_csv{
	width: 90px;
	padding: 10px !important;
	background-color: #ed7c19 !important;
	border: white !important;
}