.result-container{
	width: 100%;
	padding: 30px 67px;
}

.result-section{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.searchBar{ 
	padding: 10px 0px 32px 0px;
}

.search-btn{
	width: 90px;
	padding: 9px !important;
}