body{
    height: 100vh;
}
.s-section {
    overflow-x: hidden;
    background-color: #eee;
}


.student-registration .smaller-image {
    max-width: 100%;
    height: auto;
}

.student-registration .main-content-wrapper {
    padding: 30px;
    margin-left: 240px;
    /* Added margin-left */
    width: 70%;
    /* Reduced width */
    height: 80vh;
    /* Increased height */
}
.student-registration .card-body{
    height: 400px;
}

.student-registration .custom-text-field {
    height: 40px;
    border-radius: 7px;
    font-size: 18px;
}

.student-registration .custom-text-field::placeholder {
    font-size: 16px;
    padding-left: 8px;
    /* Adjust the font size as needed */
}

.student-registration #caution-message-main-form {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
}

.student-registration .required-label {
    font-weight: normal;
    font-size: 18px;
}
.student-registration .form-control-1{
    width: 100%;
}

.student-registration .btn {
    
    background-color: #ed7c19;
    height: 45px;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    font-size: 18px;
}
.student-registration .form-horizontal {
    margin-top: 50px;
}

.student-registration .btn:hover {
    background-color: #eba465;
    color: #000;
}

.student-registration #registration-form-heading {
    font-weight: bold;
}

.student-registration .custom-dropdown {
    font-size: 16px;
    /* Adjust the font size as needed */
}

.student-registration .required-label {}


.student-registration .col-md-4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.student-registration .overlay-image {
    margin-bottom: 300px;
}

/* Adjust the z-index of the overlay image to make sure it's above the background image */
.student-registration .col-md-4 .overlay-image {
    position: absolute;
    width: 100%;
    z-index: 2;
    /* Set a higher z-index to make it above the background image */
}

/* Adjust the z-index of the original image to make sure it's below the overlay image */
.student-registration .col-md-4 .original-image {
    position: relative;
    z-index: 1;
}

/* Adjust the z-index of the original image to make sure it's below the overlay image */
.student-registration .position-relative .original-image {
    position: relative;
    z-index: 1;
}

.student-registration .image-logo {
    margin-bottom: 40px;
}

.student-registration .overlay-image {
    margin-left: 220px;
    margin-top: 100px;
    height: 800px;

}

.student-registration .main-left-div-image {
opacity: 22%;
}
.student-registration .main-div-background{
    background-color: #31314C;
}

/* Adjust the z-index of the image to make sure it's above the overlay */
.student-registration .col-md-4 img {
    z-index: 2;
}
.li{
    text-decoration: none;
    text-decoration-style: none;
}
