.rows-center {
    text-align: center;
  }

  .big-font {
    font-size: 24px;
  }

  #student_answer {
    border: 1px solid #ccc;
    padding: 20px;
  }

  .question-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .question-index {
    width: 30px;
    font-weight: bold;
  }

  .question-content {
    flex-grow: 1;
  }

  .option-container {
    margin-top: 10px;
  }
  