// Place all the styles related to the TermAndConditions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.term-btn{
  padding: 10px !important;
  background-color: #ed7c19 !important;
  border: white !important;
}

.term-container{
  padding: 40px 43px !important;
}

.save-btn{
  margin-top: 29px;
  padding: 15px 33px 32px !important;
  background-color: #ed7c19 !important;
  border: white !important;
}

.back-btn{
  margin-top: 29px;
  padding: 15px 33px 32px !important;
  background-color: #ed7c19 !important;
  border: white !important;
}

.term-save{
  margin-left: 0px !important;
}