  <div>
    <div class="success-container">
      <!-- Div 1 -->
      <div class="success-div1">
        <img src="<%= asset_path('bacancy.svg') %>" alt="Registration Image" />
      </div>  

      <!-- Div 2 -->
      <div class="success-div2">
        <div class="success-div2-left">
          <img src="<%= asset_path('left-side-green-design.svg') %>" alt="Registration Image" class="img-fluid" />
        </div>
        <div class="success-div2-right">
          <h2 class="success-heading">Your test has been <br>submitted successfully.</h2>
          <%= link_to "Ok, Got it!", root_path, class: "success-btn registration-button" %>
        </div>
      </div>

      <!-- Div 3 -->
      <div class="success-div3">
        <img src="<%= asset_path('footer_design-1.svg') %>" alt="Registration Image" class="img-fluid" />
      </div>
    </div>
  </div>

