<%= render partial: "shared/header"%>
<div class="container text-left mt-5">
  <div class="jumbotron term-container">
    <img src="<%= asset_path('logo-dark.png') %>" alt="Logo" class="img-fluid" />
    <h3 style="font-weight: bold; margin-top: 10px; text-align: left">Terms and Conditions</h2>
    <hr>
    <div class="row extra-padding">
      <div class="col-md-2 offset-md-2">
        <div class="terms-list">
          <% @term_and_conditions&.each do |term_and_condition| %>
            <p><%= term_and_condition.content.html_safe %></p>
          <% end %>
        </div>
        <%= link_to 'New Terms', new_term_and_condition_path, class: 'btn btn-primary term-btn' %>
      </div>
    </div>
  </div>
</div> 
